@font-face {
  font-family: 'Open-Sans-Light';
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open-Sans-Light-Italic';
  font-weight: 300;
  font-style: italic;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Open-Sans-Semibold';
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("./fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'SegoeProDisplay-Light';
  font-weight: 300;
  src: local("SegoePro Light"), local("SegoePro-Light"), url("./fonts/SegoeProDisplay-Light.woff");
}

@font-face {
  font-family: 'SegoePro-SemilightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro SemilightItalic"), local("SegoePro-SemilightItalic"), url("./fonts/SegoePro-SemilightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-LightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro LightItalic"), local("SegoePro-LightItalic"), url("./fonts/SegoePro-LightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-BoldItalic';
  font-weight: 700;
  font-style: italic;
  src: local("SegoePro BoldItalic"), local("SegoePro-BoldItalic"), url("./fonts/SegoePro-BoldItalic.woff");
}

@font-face {
  font-family: 'Open-Sans-Light';
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open-Sans-Light-Italic';
  font-weight: 300;
  font-style: italic;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Open-Sans-Semibold';
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("./fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'SegoeProDisplay-Light';
  font-weight: 300;
  src: local("SegoePro Light"), local("SegoePro-Light"), url("./fonts/SegoeProDisplay-Light.woff");
}

@font-face {
  font-family: 'SegoePro-SemilightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro SemilightItalic"), local("SegoePro-SemilightItalic"), url("./fonts/SegoePro-SemilightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-LightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro LightItalic"), local("SegoePro-LightItalic"), url("./fonts/SegoePro-LightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-BoldItalic';
  font-weight: 700;
  font-style: italic;
  src: local("SegoePro BoldItalic"), local("SegoePro-BoldItalic"), url("./fonts/SegoePro-BoldItalic.woff");
}

@font-face {
  font-family: 'Open-Sans-Light';
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open-Sans-Light-Italic';
  font-weight: 300;
  font-style: italic;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Open-Sans-Semibold';
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("./fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'SegoeProDisplay-Light';
  font-weight: 300;
  src: local("SegoePro Light"), local("SegoePro-Light"), url("./fonts/SegoeProDisplay-Light.woff");
}

@font-face {
  font-family: 'SegoePro-SemilightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro SemilightItalic"), local("SegoePro-SemilightItalic"), url("./fonts/SegoePro-SemilightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-LightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro LightItalic"), local("SegoePro-LightItalic"), url("./fonts/SegoePro-LightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-BoldItalic';
  font-weight: 700;
  font-style: italic;
  src: local("SegoePro BoldItalic"), local("SegoePro-BoldItalic"), url("./fonts/SegoePro-BoldItalic.woff");
}

@font-face {
  font-family: 'Open-Sans-Light';
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open-Sans-Light-Italic';
  font-weight: 300;
  font-style: italic;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Open-Sans-Semibold';
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("./fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'SegoeProDisplay-Light';
  font-weight: 300;
  src: local("SegoePro Light"), local("SegoePro-Light"), url("./fonts/SegoeProDisplay-Light.woff");
}

@font-face {
  font-family: 'SegoePro-SemilightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro SemilightItalic"), local("SegoePro-SemilightItalic"), url("./fonts/SegoePro-SemilightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-LightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro LightItalic"), local("SegoePro-LightItalic"), url("./fonts/SegoePro-LightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-BoldItalic';
  font-weight: 700;
  font-style: italic;
  src: local("SegoePro BoldItalic"), local("SegoePro-BoldItalic"), url("./fonts/SegoePro-BoldItalic.woff");
}

/* line 7, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home {
  padding: 40px 80px 80px;
  background-color: #223E73;
}

@media screen and (max-width: 500px) {
  /* line 7, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home {
    padding: 40px 25px;
  }
}

/* line 11, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home header {
  padding: 80px 40px 0px;
}

/* line 114, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home header h1 {
  font-size: 2.3em;
  margin-top: 0px;
  margin-bottom: 1.4em;
  width: 6em;
}

/* line 119, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home header h1 span {
  color: #2B7EEC;
}

/* line 123, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home header p {
  font-size: 1em;
  margin-bottom: 2.5em;
  width: 18em;
  max-width: 100%;
  opacity: 0.95;
}

/* line 14, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home header button {
  background-color: #2957AE;
  color: inherit;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  font-family: "SegoeProDisplay-Light", sans-serif;
  font-size: 0.9rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.22);
  padding: 12px 42px;
  border-radius: 22px;
  border: none;
  outline: none;
}

/* line 83, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home header button:hover {
  background-color: #214d9e;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.22);
}

/* line 87, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home header button:active {
  background-color: #1e4999;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.22);
}

/* line 21, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home header .home-pic-div {
  border-radius: 50%;
  background-color: #2B7EEC;
  margin-top: 30px;
  margin-left: auto;
  max-width: 330px;
}

/* line 31, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home nav {
  display: flex;
  align-items: center;
}

/* line 105, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home nav a {
  display: inline-block;
  padding: 5px 15px;
  color: inherit;
  text-decoration: none;
}

/* line 35, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home nav .links {
  margin: 0px auto;
}

/* line 38, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home nav .logo-div {
  width: 80px;
  font-size: 13px;
  cursor: pointer;
}

/* line 26, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home nav .logo-div img {
  width: 76%;
  height: auto;
  object-fit: contain;
  margin: 0px 12%;
}

/* line 32, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home nav .logo-div .first {
  font-size: 0.9em;
  margin: 1px 0px 2px 12%;
  letter-spacing: 0.2px;
}

/* line 37, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home nav .logo-div .second {
  font-size: 0.67em;
  margin: 0px;
}

/* line 42, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home nav .burger {
  display: none;
}

/* line 63, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.home nav .burger div {
  margin: 4px;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.95);
}

/* line 48, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home nav .search {
  padding-right: 25px;
}

/* line 51, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home nav .search input {
  display: none;
}

/* line 54, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
.home nav .search i {
  padding: 5px;
  cursor: pointer;
  font-size: 1.4rem;
}

@media screen and (min-width: 650px) {
  /* line 74, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home header {
    display: flex;
    justify-content: space-around;
  }
  /* line 78, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home header .home-pic-div {
    margin: 0px;
    align-self: center;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 935px) {
  /* line 91, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home header {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 94, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home header .home-pic-div {
    max-width: 280px;
  }
  /* line 100, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home nav {
    justify-content: space-between;
  }
  /* line 45, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .home nav .logo-div {
    width: 55px;
    font-size: 12px;
  }
  /* line 48, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .home nav .logo-div img {
    width: 100%;
    margin: 0px;
  }
  /* line 52, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .home nav .logo-div .first {
    margin-left: 0px;
  }
  /* line 55, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .home nav .logo-div .second {
    font-size: 0.5em;
  }
  /* line 103, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home nav .burger {
    display: block;
  }
  /* line 106, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home nav .search,
  .home nav .links {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  /* line 117, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_home.scss */
  .home header {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Open-Sans-Light';
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open-Sans-Light-Italic';
  font-weight: 300;
  font-style: italic;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Open-Sans-Semibold';
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("./fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'SegoeProDisplay-Light';
  font-weight: 300;
  src: local("SegoePro Light"), local("SegoePro-Light"), url("./fonts/SegoeProDisplay-Light.woff");
}

@font-face {
  font-family: 'SegoePro-SemilightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro SemilightItalic"), local("SegoePro-SemilightItalic"), url("./fonts/SegoePro-SemilightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-LightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro LightItalic"), local("SegoePro-LightItalic"), url("./fonts/SegoePro-LightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-BoldItalic';
  font-weight: 700;
  font-style: italic;
  src: local("SegoePro BoldItalic"), local("SegoePro-BoldItalic"), url("./fonts/SegoePro-BoldItalic.woff");
}

@font-face {
  font-family: 'Open-Sans-Light';
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open-Sans-Light-Italic';
  font-weight: 300;
  font-style: italic;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Open-Sans-Semibold';
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("./fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'SegoeProDisplay-Light';
  font-weight: 300;
  src: local("SegoePro Light"), local("SegoePro-Light"), url("./fonts/SegoeProDisplay-Light.woff");
}

@font-face {
  font-family: 'SegoePro-SemilightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro SemilightItalic"), local("SegoePro-SemilightItalic"), url("./fonts/SegoePro-SemilightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-LightItalic';
  font-weight: 300;
  font-style: italic;
  src: local("SegoePro LightItalic"), local("SegoePro-LightItalic"), url("./fonts/SegoePro-LightItalic.woff");
}

@font-face {
  font-family: 'SegoePro-BoldItalic';
  font-weight: 700;
  font-style: italic;
  src: local("SegoePro BoldItalic"), local("SegoePro-BoldItalic"), url("./fonts/SegoePro-BoldItalic.woff");
}

/* line 5, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
.plan {
  padding: 40px 80px 80px;
  background-color: #2B7EEC;
}

@media screen and (max-width: 500px) {
  /* line 5, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
  .plan {
    padding: 40px 25px;
  }
}

@media screen and (max-width: 670px) {
  /* line 5, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
  .plan {
    padding: 40px 25px;
  }
}

/* line 11, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
.plan .wrapper-rounded-step {
  display: none;
}

/* line 15, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
.plan .h2-div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* line 21, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
.plan h2 {
  font-family: "Open-Sans-Semibold", sans-serif;
  margin: 0px;
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 2px;
  border-color: #223E73;
}

/* line 26, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
.plan .wrapper-simple-step {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 145, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step a {
  text-decoration: none;
  color: inherit;
}

/* line 149, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step .step-img-div {
  margin: 15px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #223E73;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 158, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step .step-img-div div {
  margin-bottom: 20px;
}

/* line 161, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step .step-img-div p {
  margin-bottom: 20px;
}

/* line 164, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step .step-img-div .inside {
  font-family: "SegoeProDisplay-Light", sans-serif;
}

/* line 167, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step .semi-italic {
  font-family: "SegoePro-SemilightItalic", sans-serif;
}

/* line 170, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step .bold-italic {
  font-family: "SegoePro-BoldItalic", sans-serif;
}

/* line 173, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step a {
  font-family: "SegoePro-LightItalic", sans-serif;
}

/* line 176, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step span {
  border-bottom: 1px solid #FFFFFF;
}

/* line 179, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
.plan .wrapper-simple-step i {
  margin-left: 4px;
  color: #223E73;
}

/* line 32, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
.plan .wrapper-simple-step .step {
  margin: 10px;
  max-width: 300px;
  width: 220px;
}

@media screen and (min-width: 835px) {
  /* line 41, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
  .plan .wrapper-simple-step {
    display: none;
  }
  /* line 44, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/sections/_plan.scss */
  .plan .wrapper-rounded-step {
    display: block;
  }
  /* line 189, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .main {
    width: 358px;
    height: 358px;
    border: 3px solid #FFFFFF;
    border-radius: 180px;
    margin: 160px auto;
    position: relative;
  }
  /* line 145, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step a {
    text-decoration: none;
    color: inherit;
  }
  /* line 149, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .step-img-div {
    margin: 15px auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #223E73;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 158, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .step-img-div div {
    margin-bottom: 20px;
  }
  /* line 161, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .step-img-div p {
    margin-bottom: 20px;
  }
  /* line 164, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .step-img-div .inside {
    font-family: "SegoeProDisplay-Light", sans-serif;
  }
  /* line 167, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .semi-italic {
    font-family: "SegoePro-SemilightItalic", sans-serif;
  }
  /* line 170, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .bold-italic {
    font-family: "SegoePro-BoldItalic", sans-serif;
  }
  /* line 173, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step a {
    font-family: "SegoePro-LightItalic", sans-serif;
  }
  /* line 176, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step span {
    border-bottom: 1px solid #FFFFFF;
  }
  /* line 179, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step i {
    margin-left: 4px;
    color: #223E73;
  }
  /* line 199, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .step-text-div {
    text-align: right;
    position: absolute;
    width: 300px;
    z-index: 2;
  }
  /* line 205, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .step-img-div {
    position: absolute;
    z-index: 3;
  }
  /* line 210, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .inside {
    text-align: center;
  }
  /* line 215, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .one .step-img-div {
    top: -80px;
    right: 100px;
  }
  /* line 220, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .two .step-img-div {
    bottom: 10px;
    right: -55px;
  }
  /* line 225, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .three .step-img-div {
    bottom: 10px;
    left: -55px;
  }
  /* line 233, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .one .step-text-div {
    right: 245px;
  }
  /* line 236, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .two .step-text-div {
    top: 180px;
    left: 0px;
  }
  /* line 240, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .three .step-text-div {
    top: 180px;
    right: 20px;
  }
}

@media screen and (min-width: 835px) and (max-width: 1100px) {
  /* line 247, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .step .step-text-div {
    width: 254px;
  }
  /* line 251, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .one .step-text-div {
    right: 225px;
  }
  /* line 254, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/abstracts/_mixins.scss */
  .plan .wrapper-rounded-step .two .step-text-div {
    left: -20px;
  }
}

/* line 5, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/styles.scss */
body {
  font-size: 16px;
  padding: 0px 40px;
  overflow-x: hidden;
  background-color: #2957AE;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Open-Sans-Light", sans-serif;
}

/* line 14, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/styles.scss */
.topShadow {
  background-color: #2B7EEC;
  height: 50px;
  transform: translateX(24px) skew(-44deg);
  overflow-x: hidden;
}

/* line 21, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/styles.scss */
.bottomShadow {
  background-color: #223E73;
  height: 50px;
  transform: translateX(24px) skew(44deg);
  overflow-x: hidden;
}

@media screen and (max-width: 1015px) {
  /* line 29, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/styles.scss */
  body {
    padding: 0px;
    background-color: white;
  }
  /* line 33, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/styles.scss */
  .bottomShadow,
  .topShadow {
    display: none;
  }
}

/* line 39, D:/IT-Profession/Learn-SASS/1-learn-sass/sass/styles.scss */
img {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */